body {
    font-family: sans-serif;
}

td {
    vertical-align: top;
}

td.numeric {
    text-align: right;
}

.missingField {
    color:red;
}

.publishDate {
    font-size: smaller;
    font-style: italic;
}

.numComments {
    font-size: smaller;
}

.commentForm, .comment {
    background-color: white;
    display: none;
    padding: 1em;
    border: 1px solid gray;


}

.comment {
    font-size: small;
    display: block;
    margin: 1em;
}


.status {
    position: fixed;
    right: 1em;
    top:0;
    width: 10em;
}

.previewPane {
    border: 1px solid gray;
    background-color: #fffafa;
    padding: 1em;
    margin:1em;
    max-height: 10em;
    overflow-y: auto;
}

td {
    vertical-align: top;
}

.email {
    font-family: monospace;
    border: 1px solid #00008b;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(39, 89, 114, 0.8);
    -ms-transform:rotate(-0.2deg); /* IE 9 */
    -moz-transform:rotate(-0.2deg); /* Firefox */
    -webkit-transform:rotate(-0.2deg); /* Safari and Chrome */
    -o-transform:rotate(-0.2deg); /* Opera */
    transform:rotate(-0.2deg);
    overflow: hidden;

}

.mailheader p {
    margin-top: 0;
    margin-bottom: 0;
}